@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DietAnalyzer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light border-bottom box-shadow mb-3">
            <div class="container ml-auto" style="box-sizing: border-box;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav nav-pills">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item my-1 me-5">
                                <a class="nav-link active mx-1 px-3 text-dark"
                                   asp-area="" asp-controller="Diet" asp-action="DietList">My Diets</a>
                            </li>
                            <li class="nav-item my-1 me-5">
                                <a class="nav-link active mx-1 px-3 text-dark" asp-area="" asp-controller="FoodItem" asp-action="FoodList">My Foods</a>
                            </li>
                            <li class="nav-item my-1 me-5">
                                <a class="nav-link active mx-1 px-3 text-dark" asp-area="" asp-controller="Measure" asp-action="Manage">My Units</a>
                            </li>
                            <li class="nav-item my-1 me-5">
                                <a class="nav-link active mx-1 px-3 text-dark" asp-area="" asp-controller="Restriction" asp-action="Manage">My Restrictions</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container mx-1 mx-lg-auto" style="box-sizing: border-box; overflow-wrap:break-word; overflow-x:hidden;">
        <main role="main" class="pb-3" background-color="#ffffcc">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-cookie/jquery.cookie.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <div class="privacyPolicyInfo" style="display: none;">
        This website uses cookies to distinguish you from other users and remember your preferences.
        Your data is not shared with any third party.
        By continuing to browse this site you are agreeing to our use of cookies.
        <button onclick="closePrivacyPolice()" type="button" class="btn btn-light btn-sm mx-2 privacyPolicyButton">
            I understand.
        </button>
    </div>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            if ($.cookie("privacyPolicy") !== "11") {
                $('.privacyPolicyInfo').css("display", "");
            }
            else {
                $('.privacyPolicyInfo').css("display", "none");
            }
        });

        $(document).ready(function () {
            var originalNumber = $.validator.methods.number;
            var wrappedNumber = function (value, element) {
                var fixedValue = Number(value.toString().replace(",", "."));
                console.log(fixedValue);
                return originalNumber.call($.validator.prototype, fixedValue, element);
            };
            $.validator.methods.number = wrappedNumber;
        });

        function closePrivacyPolice() {
            $.cookie("privacyPolicy", "11", { path: '/;SameSite=Lax', expires: 180 });
            $('.privacyPolicyInfo').css("display", "none");
        }
    </script>

</body>
</html >
