/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* customized parts start here */

/* general */

body {
    background-color: #ffffcc;
    align-content: center;
}

header {
    background-color: #ffe6cc;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #99ccff;
    min-width: 120px;
    text-align: center;
    font-weight: bold;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

@media only screen and (min-width: 600px) {
    .btn-primary {
        min-width: 120px;
    }

    .container {
        margin-left: 50px;
    }

    .nav-item {
        box-sizing: unset;
    }
}

.container {
    align-content: center;
    justify-content: center;
}

/* form-controls */

.form-control {
    height: calc(1.3em + 2px);
    width: max-content;
}

.ui-selectmenu-button {
    height: calc(1.3em + 2px);
    background: white;
    line-height: unset;
}

option.food-icon {
    background-repeat: no-repeat !important;
    padding-left: 10px;
}

.food-icon .ui-icon {
    background-position: left top;
}

.ui-icon {
    background-size: cover;
}

.ui-icon-triangle-1-s { 
    /* 
        this is very hacky, but I'm not willing to learn the entire jQuery-UI just for this one icon
        the documentation suggested accessing the selectmenu to change the icon class, but it didn't work for me
    */
    background-position: -65px 5px;
    background-size: unset;
}

.form-control-smallscreen-safe {
    font-size: 0.7rem;
}

@media only screen and (min-width: 600px) {
    .form-control-smallscreen-safe {
        font-size: 0.9rem;
    }
}

/* inputs */

.text-input-short {
    text-align: center;
    max-width: 120px;
    background-color: #ffffcc;
    border-color: #000000;
    border-style: solid;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .text-input-short {
        text-align: center;
        max-width: 60px;
        background-color: #ffffcc;
        border-color: #000000;
        border-style: solid;
    }
}


.text-input {
    text-align: center;
    max-width: 120px;
    background-color: #ffffcc;
    border-color: #000000;
    border-style: solid;
}

.text-input-long {
    text-align: center;
    width: 250px;
    background-color: #ffffcc;
    border-color: #000000;
    border-style: solid;
}

.numeric-input {
    text-align: center;
    max-width: 60px;
    background-color: #ffffcc;
    border-color: #000000;
    border-style: solid;
}

@media only screen and (max-width: 600px) {
    .numeric-input {
        text-align: center;
        max-width: 35px;
        background-color: #ffffcc;
        border-color: #000000;
        border-style: solid;
    }
}

@media only screen and (max-width: 500px) {
    .word-wrap {
        font-size: 0.8rem;
        overflow: hidden;
        overflow-wrap: break-word;
        text-overflow: clip;
    }
}

.custom-file-upload {
    cursor: pointer;
    margin-bottom: 0px;
}


/* misc */

@media only screen and (max-width: 450px) {
    .unit-table-td {
        padding-right: 0.25rem !important;
        padding-left: 0.25rem !important;
    }
}

.green-bg {
    background-color: #80ff80 !important;
}

.red-bg {
    background-color: #ff8080 !important;
}

.evaluationRow {
    border: 1px solid #000 !important;
    min-height: 30px;
}

.evaluationResultCss {
    font-size: small;
    line-height: 1.2;
}

/* images */
.foodImageSmall {
    height: 16px;
    width: 16px;
}

.foodImage {
    height: 40px;
    width: 40px;
}



/* privacy */

.privacyPolicyInfo {
    font-size: 10px;
    position: fixed;
    bottom: 0;
    background-color: darkgray;
    width: 100%;
    color: black;
    text-align: center;
    padding: 5px 0;
}

/* get rid of bootstrap border-boxes */
* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


/*****************************************/
/* customized parts end here */
/* default bootstrap styles start below */
/*****************************************/


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
