@model Int32

@*
    helper view to dynamically update measures table in the view
    see also: https://stackoverflow.com/questions/36317362/how-to-add-an-item-to-a-list-in-a-viewmodel-using-razor-and-net-core
*@

<tr>
    <td class="col-2 col-sm-1 pl-0">
        Name&nbsp;:
    </td>
    <td class="col-1 unit-table-td">
        <input class="text-input-short" data-val="true"
               data-val-maxlength="The field Name must be a string or array type with a maximum length of '50'."
               data-val-maxlength-max="50" data-val-required="The Name field is required."
               id="Measures_@(Model)__Name" maxlength="50" name="Measures[@(Model)].Name" type="text" value="">
    </td>
    <td class="col-2 col-sm-1 unit-table-td">
        equal to&nbsp;:
    </td>
    <td class="col-1 unit-table-td">
        <input class="numeric-input" data-val="true"
               data-val-number="The field Grams must be a number."
               data-val-required="The Grams field is required."
               id="Measures_@(Model)__Grams" name="Measures[@(Model)].Grams" type="text" value="">
    </td>
    <td class="col-1 unit-table-td">
        grams
    </td>
    <td class="col-2 unit-table-td">
        <button type="button" class="btn btn-danger tn-sm" onclick="deleteRowUpdateHTML(this, 'Measures')">
            Delete unit
        </button>
    </td>
    <td class="col-4"></td>
</tr>